body {
    font-family: sans-serif;
    font-size: clamp(0.75rem, 1vw, 1.25rem );

}

.hero {
    justify-self: center;
    font-size: 28px;
    font-weight: 550;
    padding: 8px 20px;
    border-radius: 15px;
    box-shadow: 0 6px 5px rgba(0,0,0,0.10);
}

::view-transition{
    navigation: auto;
}

.page-content {
    view-transition-name: page-content;
}

::view-transition-group(page-content) {
    animation-duration: 1s;
    animation-timing-function: ease;
}

::view-transition-old(page-content) {
    animation-name: slide-out;
}

::view-transition-new(page-content){
    animation-name: slide-in;
}

@keyframes slide-out {
    from {
        translate: 0;
    }
    to {
        translate: -100vw;
    }
}
@keyframes slide-in {
    from { translate: 100vw;}
    to { translate: 0vw;}
}